/* Write your CSS here */
.bg-page {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  height: 100vh;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-heading {
  color: #1e293b;
  font-size: 35px;
  font-weight: 600;
  font-family: 'Bree Serif';
}
.icon {
  width: 20px;
}
.search {
  border: none;
  border-radius: 5px;
}
.search-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #7b8794;
  color: #7b8794;
  border-radius: 5px;
  padding: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.tabItem-container {
  list-style: none;
  display: flex;
  margin-left: -20px;
}
.appItem-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
